*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: aliceblue;
    
}
.Header1{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    font-size: 20px;
    font-weight: bolder;
    margin-top: 10px;
    width: 100%;
    
}
.Main{
    font-size: 30px;
    margin-left: 10px;
}
.Header2 a{
    margin-left: 80px;
}
body{
    background-image: url("https://w0.peakpx.com/wallpaper/36/346/HD-wallpaper-mountains-under-a-beautiful-sky-green-mountains-trees-clouds-sky-field-naature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.Button{
    background-color: darkgoldenrod;
    color: white;
    border: 8px solid transparent;
    border-radius: 10px;
    font-size: 10px;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
}
.Section{
    height:800px;
    /* width:1600px; */
    display: flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Heading1{
    /* margin-left: 320px; */
    color: white;
    font-size: 40px;
}
.Section1 p{
    color: aliceblue;
    font-size: 15px;
}
.Details{
    background-color: darkgoldenrod;
    color: white;
    border: 8px solid transparent;
    border-radius: 10px;
    font-size: 10px;
    font-weight: bold;
    /* margin-left: 360px; */
    cursor: pointer;

}
.imgs1{
    position: absolute;
    left:1200px;
    top:140px;
    
}
.imgs2{
    position: absolute;
    left:1400px;
    top:140px;
}
    

.img1{
   
    border: 4px solid transparent;
    border-radius: 10px;
}
.img2{
   
    border: 4px solid transparent;
    border-radius: 10px;
}
.img1:hover{
    size: 400px;
}
.img2:hover{
    size: 400px;
}
.para {
    /* width: 300px */
}
@media (max-width:900px){
    .Header2{
        display: none;

    }
    .Header3{
        display:none
    }
    .imgs1{
        display: none;
    }
    .imgs2{
        display: none;
    }
    .Header1{
        display: flex;
        justify-content: center;    
    }
       
    .para {
        width: 300px;
    }
}
.img1:hover{
    scale: 1.5;
}
.img2:hover{
    scale:1.5
}
.Button:active{
   scale:0.5;
}
.Details:active{
    scale: 0.5;
}
